# Generic Ignores
.bash_history
.bash_logout
.aptitude/
.mysql_history
.nano_history
.ssh/id_rsa
mbox/
Maildir/

# Laptop/Desktop Directories
Desktop/
Documents/
Downloads/
Dropbox/
examples.desktop
Music
Pictures
Public
Steam
Templates
Videos
